/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
* {
  font-family: "Nunito", sans-serif;
}

.blue {
  background: #06274a !important;
}

.hackum {
  height: 60px;
  margin: 10px;
  padding-bottom: 5px;
}

nav a {
  color: #00ab84;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  font-size: 26px;
  color: #00ab84;
}

.main h3 {
  font-size: 3em;
  color: #eb3132;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.main p {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

.border-btn {
  border: 2px solid #ffffff7c;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  max-width: 350px;
  margin-top: 15px;
}

/* .border-btn:hover {
  border: none;
} */

.border-btn p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}

.main-img {
  width: 400px;
}

.about h2 {
  font-weight: 900;
  color: #8e8e8e !important;
}

.about h1 {
  font-weight: 900;
}

.about p {
  font-size: 16px;
}

.register {
  background: #eb3132;
  padding: 20px 40px 20px 40px;
  border: none;
  color: #ffffff;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 40px;
  outline: none;
  transition: transform 0.2s;
}

.register:hover {
  transform: scale(1.1);
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .text-wrapper {
    padding: 0 0 !important;
    position: initial !important;
    background-color: inherit;
    width: 100% !important;
    margin: 1.4rem 0;
  }
  .text-wrapper::after {
    display: none !important;
  }
  .timeline-container::after {
    display: none !important;
  }
}

.timeline-container {
  position: relative;
  width: 40rem;
}
.timeline-container::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  left: 50%;
}
.text-wrapper {
  padding: 0 1rem;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin: 1.4rem 0;
}
.text-wrapper::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  right: -0.4rem;
  background-color: #eb3132;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.right::after {
  left: -0.2rem;
}
.text {
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
}
.text h3 {
  text-transform: uppercase;
  font-size: 15px;
  color: #212121;
  font-weight: 800;
}
.text p {
  color: #959595;
  font-size: 13px;
  margin-top: 2px;
  font-family: "Nunito", sans-serif;
}

.form-steps {
  display: block;
  width: 100%;
  position: relative;
  margin: 40px 0;
}
.form-steps__item {
  padding: 0;
  position: relative;
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}
.form-steps__item-content {
  display: inline-block;
}
.form-steps__item-icon {
  display: block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 40px;
  margin: 0 auto 10px auto;
  position: relative;
  z-index: 2;
}
.form-steps__item-line {
  display: inline-block;
  height: 1px;
  width: 100%;
  float: left;
  position: absolute;
  border-bottom: 2px dashed #940000;
  left: -50%;
  top: 8px;
  z-index: 1;
}
.form-steps__item--completed .form-steps__item-icon {
  background: #eb3132;
  color: transparent;
  border-radius: 100%;
  outline: white solid 10px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 15px;
  line-height: 60px;
}
@media only screen and (max-width: 767px) {
  .form-steps__item-icon,
  .form-steps__item--completed .form-steps__item-icon {
    width: 15px;
    height: 15px;
    line-height: 30px;
  }
  .form-steps__item-line {
    top: 8px;
  }
}
.form-steps__item-text {
  font-size: 13px;
  font-weight: 800;
}
.navbar-item img {
  max-height: 200px !important;
}
